* {
  /* // <weight>: Use a value from 400 to 700 */
/* // <uniquifier>: Use a unique and descriptive class name */

  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  background-color: #111111;
  color: #fa8072 ;
  padding-top: 6%;
  padding-bottom: 6%;
  /* margin: 0 0 0 0; */
  /* border-radius: 15px; */
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Righteous", sans-serif;
  font-size: xx-large;
  font-weight: 300;
  font-style: normal;
}

nav {
  background-color: #fa8072;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  font-size: x-large;
  /* margin: 0 0 0 0; */
  /* text-align: left; */
  /* list-style-type: none; */
}

#navLinks {
  display: flex;
  /* justify-content: space-around; */ /* centers them across banner and spaces evenly */
  gap: 2rem;
}

a:link, a:visited {
  color: black;
}

#fishPic {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 20%;
  max-height: 80%;
  border-color:aqua;
  border-width: 5px;
  border-style:double;
}

#salesData {
  padding: 2rem;
}

#salesData table {
  font-family: "Fredoka", sans-serif;
  font-size: x-large;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    /* // <weight>: Use a value from 300 to 700 */
  border-collapse: collapse;
  width: 100%;
}

#salesData thead {
  background-color: #444;
  color: white;
  font-weight: 600;
}

#salesData th,
#salesData td {
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
}

#salesData tfoot {
  font-weight: 600;
  background-color: #ddd;
}

footer {
  background-color: #cccccc;
  padding-top: 3%;
  padding-bottom: 3%;
  /* margin: 0 0 0 0; */
  text-align: center;
}
