/* * {

} */

/* header {
 
} */

h1 {
  background-color: #111111;
  color: #fa8072 ;
  padding-top: 6%;
  padding-bottom: 6%;
  /* margin: 0 0 0 0; */
  /* border-radius: 15px; */
  text-align: center;
}

nav {
  background-color: #fa8072;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  /* margin: 0 0 0 0; */
  /* text-align: left; */
  /* list-style-type: none; */
}

a:link, a:visited {
  color: black;
}

/* main {

} */

footer {
  background-color: #cccccc;
  padding-top: 3%;
  padding-bottom: 3%;
  /* margin: 0 0 0 0; */
  text-align: center;
}